.characterDetail {
  color: whitesmoke;
  background-image: url(../../images/parchemntDetail.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-size: 23px;
  @media (min-width: 768px) {
    padding: 100px 0 25px;
  }
  @media (min-width: 1024px) {
    padding: 80px 0 45px;
  }

  &--link {
    margin: 0 0 0 10px;
    width: 60px;
    padding: 5px;
    position: absolute;
    right: 5px;
    @media (min-width: 500px) {
      width: 90px;
    }
    @media (min-width: 768px) {
      top: 185px;
    }
    @media (min-width: 1024px) {
      top: 220px;
      right: 25px;
    }
  }
  &--section {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
    &__img {
      width: 60vw;
      margin: 70px 0 15px;
      border-radius: 50px;
      max-width: 400px;
      @media (min-width: 768px) {
        width: 40%;
        margin: 0;
      }
    }
    &__detail {
      width: 75%;
      font-size: 25px;
      max-width: 700px;
      @media (min-width: 768px) {
        width: 50%;
      }
      &--sectionName {
        margin: 5px auto;
        text-transform: uppercase;
        text-shadow: 0 1px 0 #ddd, 0 1px 0 #ccc, 0 1px 0 #bbb, 0 2px 0 #aaa,
          0 3px 0 #acacac, 0 6px 1px rgba(0, 0, 0, 0.1),
          0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
          0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);

        &__title {
          font-size: 35px;
          line-height: 35px;
          margin-bottom: 30px;
          @media (min-width: 768px) {
            font-size: 40px;
          }
        }
      }
      &--sectionNickname {
        text-align: start;
        border-bottom: 2px black solid;
        &__container {
          column-gap: 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 10px;
          @media (min-width: 768px) {
            font-size: 35px;
          }
          @media (min-width: 1024px) {
            font-size: 45px;
          }
          &--title {
          }
        }
      }
      &--sectionStatus {
        text-align: start;
        border-bottom: 2px black solid;
        &__container {
          column-gap: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 10px;
          @media (min-width: 768px) {
            font-size: 35px;
          }
          @media (min-width: 1024px) {
            font-size: 45px;
          }
          &--title {
            text-align: end;
          }
        }
      }
      &--sectionBlood {
        border-bottom: 2px black solid;
        &__container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          column-gap: 20px;
          margin: 10px;
          @media (min-width: 768px) {
            font-size: 35px;
          }
          @media (min-width: 1024px) {
            font-size: 45px;
          }
          &--title {
          }
        }
      }
      &--sectionDescription {
        border-bottom: 2px black solid;

        &__container {
          column-gap: 20px;
          &--title {
            font-size: 23px;
            margin: 30px 5px 5px;
            text-transform: uppercase;

            text-shadow: 0 1px 0 #ddd, 0 1px 0 #ccc, 0 1px 0 #bbb, 0 2px 0 #aaa,
              0 2px 0 #acacac, 0 6px 1px rgba(0, 0, 0, 0.1),
              0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
              0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
              0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
            @media (min-width: 768px) {
              font-size: 35px;
            }
          }

          &--characteristics {
            margin: 10px;
            &__container {
              text-transform: none;
              display: flex;
              justify-content: space-between;
              align-items: center;
              text-align: start;
              column-gap: 15px;
              border-bottom: 2px rgb(105, 105, 105) solid;
              margin: 5px 0;
              padding-bottom: 3px;
              @media (min-width: 768px) {
                font-size: 35px;
              }
              @media (min-width: 1024px) {
                font-size: 45px;
              }
              &--breed {
                text-align: end;
              }
              &--genres {
                text-align: end;
              }
              &--hair {
                text-align: end;
              }
              &--eyes {
                text-align: end;
              }
            }
          }
        }
      }
      &--sectionHouse {
        text-align: start;
        border-bottom: 2px black solid;
        &__container {
          margin: 10px;
          column-gap: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          @media (min-width: 768px) {
            font-size: 35px;
          }
          @media (min-width: 1024px) {
            font-size: 45px;
          }
          &--option {
            &__title {
            }
          }
        }
      }
      &--sectionPatronus {
        border-bottom: 2px black solid;
        &__container {
          display: flex;
          justify-content: space-between;
          column-gap: 20px;
          align-items: center;
          margin: 10px;
          @media (min-width: 768px) {
            font-size: 35px;
          }
          @media (min-width: 1024px) {
            font-size: 45px;
          }
          &--title {
            margin: 5px;
          }
        }
      }
    }
  }
  &__containerHistory {
    padding: 75px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 28px;
    @media (min-width: 768px) {
      font-size: 35px;
    }
    @media (min-width: 1024px) {
      font-size: 45px;
    }
    &--title {
      width: 75%;
      text-transform: uppercase;
      text-shadow: 0 1px 0 #ddd, 0 1px 0 #ccc, 0 1px 0 #bbb, 0 2px 0 #aaa,
        0 2px 0 #acacac, 0 6px 1px rgba(0, 0, 0, 0.1),
        0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
        0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
      border-bottom: 2px black solid;
      margin-bottom: 25px;
      padding-bottom: 10px;
    }
    &--list {
      color: rgb(255, 255, 255);
      word-spacing: 5px;
      letter-spacing: 5px;
      width: 75%;
      &__paragraph {
        margin: 15px 0;
      }
    }
  }
}
