@import '../core/variables';

.sectionList {
  @media (min-width: 1024px) {
    margin: 0 100px;
  }
  &__list {
    margin: 0 20px;
    display: grid;
    flex-wrap: wrap;
    row-gap: 20px;
    font-size: 18px;
    column-gap: 10px;
    justify-content: center;
    @media (min-width: 450px) {
      font-size: 20px;
    }
    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      font-size: 25px;
    }
    @media (min-width: 1200px) {
      //grid-template-columns: 1fr 1fr 1fr;
      column-gap: 20px;
    }
    &--characterLi {
      margin: auto;
      &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../../images/parchment.png);
        background-size: cover;
        background-position: center;
        height: 200px;
        width: 265px;

        @media (min-width: 450px) {
          height: 250px;
          width: 350px;
        }
        @media (min-width: 768px) {
          height: 350px;
          width: 360px;
        }
        &--img {
          margin: 0 10px 0 20px;
          height: 65px;
          border-radius: 15px;
          @media (min-width: 450px) {
            height: 100px;
          }
          @media (min-width: 768px) {
            height: 140px;
            margin: 0 5px 0 28px;
          }
        }

        &--containerData {
          width: 7ch;
          display: flex;
          flex-direction: column;
          align-items: end;
          color: whitesmoke;
          &__name {
            margin-top: 25px;
          }
        }
        &--paragraph {
          margin-top: 15px;
          font-size: 18px;
          width: 25px;
          letter-spacing: 1px;
          &:hover {
            width: 26px;
          }
          @media (min-width: 450px) {
            width: 50%;
            margin-top: 20px;
            &:hover {
              width: 51%;
            }
          }
        }
      }
    }
  }
  &__notSearch {
  }
}
