@import '../core/variables';

.sectionList {
  @media (min-width: 1024px) {
    margin: 0 100px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    @media (min-width: 1024px) {
      column-gap: 60px;
    }
    &--characterLi {
      border: whitesmoke solid 5px;
      &__name {
        color: whitesmoke;
      }
      &__nickName {
        color: whitesmoke;
        &--nick {
        }
      }
      &__img {
        width: 150px;
      }
      &__status {
      }
      &__statusMarital {
      }
      &__sectionBlood {
      }
      &__blood {
      }
      &__sectionChildren {
      }
      &__childrens {
        &--childList {
          &__name {
          }
        }
      }
      &__sectionDescription {
      }
      &__breed {
      }
      &__genre {
      }
      &__hairColour {
      }
      &__eyesColour {
      }
      &__sectionHouse {
      }
      &__house {
      }
      &__sectionPatronus {
      }
      &__patronus {
      }
    }
  }
  &__notSearch {
  }
}
