.imgBack {
  &__img {
    margin: 10px 10px;
    width: 50px;
    border-radius: 15px;
    margin-left: auto;
    display: block;
    @media (min-width: 768px) {
      width: 100px;
    }
    @media (min-width: 1024px) {
      width: 150px;
    }
  }
  &__icon {
    color: rgba(245, 245, 245, 0.425);
    position: relative;
    top: 20px;
    left: -80px;
    font-size: 15px;
  }
}
.formHat {
  color: whitesmoke;
  margin: 0 60px;
  @media (min-width: 500px) {
    margin: 0 100px;
  }

  &__firstQuestion {
    margin-top: 25px;
    &--fieldsetQuestion {
      display: flex;
      flex-direction: column;
      &__img {
        width: 40%;
        margin: auto;
      }
      &__question {
        display: inline-block;
        width: 60%;
        font-size: 0.6rem;
        margin: 10px 0;
        color: #000;
        font-weight: 800;
        background-color: rgba(245, 245, 245, 0.336);
        @media (min-width: 400px) {
          font-size: 0.8rem;
        }
      }
    }
    &--fieldsetInputs {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 20px;
      &__label {
        margin: 0 0 35px 0;

        &--option {
          display: flex;
          margin: auto;
        }
        &--img {
          border-radius: 10px;
          margin: 5px;
          width: 80px;
          &:hover {
            box-shadow: 5px 2.5px 10px 2.5px rgb(160, 158, 158);
          }
        }
      }
    }
    &--response {
      padding-bottom: 20px;
      border-bottom: black 1px solid;
    }
  }
  &__secondQuestion {
    margin-top: 50px;
    &--fieldsetQuestion {
      display: flex;
      flex-direction: column;
      &__img {
        width: 40%;
        margin: auto;
      }
      &__question {
        display: inline-block;
        width: 60%;
        font-size: 0.6rem;
        margin: 10px 0;
        color: #000;
        font-weight: 800;
        background-color: rgba(245, 245, 245, 0.336);
        @media (min-width: 400px) {
          font-size: 0.8rem;
        }
      }
    }
    &--fieldsetInputs {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 40px;
      &__label {
        margin: 15px 0 35px 0;
        &--option {
          display: flex;
          margin: auto;
        }
        &--img {
          width: 100px;
          height: 60px;
          border-radius: 10px;
          margin: 5px;

          &:hover {
            box-shadow: 5px 2.5px 10px 2.5px rgb(160, 158, 158);
          }
        }
      }
    }
    &--response {
      padding-bottom: 20px;
      border-bottom: black 1px solid;
    }
  }
  &__thirdQuestion {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: black 1px solid;

    &--fieldsetQuestion {
      display: flex;
      flex-direction: column;
      &__img {
        width: 40%;
        margin: auto;
      }
      &__question {
        display: inline-block;
        width: 45%;
        font-size: 0.8rem;
        margin: 10px 0 20px 0;
        color: #000;
        font-weight: 800;
        background-color: rgba(245, 245, 245, 0.336);
      }
    }
    &--fieldsetInputs {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin: 0 0 25px 0;
      &__label {
        margin-bottom: 20px;
        text-align: start;
        &--option {
        }
      }
    }
    &--response {
      padding-bottom: 20px;
    }
  }
  &__fourQuestion {
    margin-top: 50px;
    &--fieldsetQuestion {
      display: flex;
      flex-direction: column;
      &__img {
        width: 40%;
        margin: auto;
      }
      &__question {
        display: inline-block;
        width: 60%;
        font-size: 0.6rem;
        margin: 10px 0;
        color: #000;
        font-weight: 800;
        background-color: rgba(245, 245, 245, 0.336);
        @media (min-width: 400px) {
          font-size: 0.8rem;
        }
      }
    }
    &--fieldsetInputs {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 30px;
      &__label {
        margin: 10px 0 35px 0;
        &--option {
          display: flex;
          margin: auto;
        }
        &--img {
          width: 100px;
          border-radius: 10px;
          margin: 5px;
          height: 60px;
          &:hover {
            box-shadow: 5px 2.5px 10px 2.5px rgb(160, 158, 158);
          }
        }
      }
    }
    &--response {
      padding-bottom: 20px;
      border-bottom: black 1px solid;
    }
  }
  &__fiveQuestion {
    margin-top: 50px;
    &--fieldsetQuestion {
      display: flex;
      flex-direction: column;
      &__img {
        width: 40%;
        margin: auto;
      }
      &__question {
        display: inline-block;
        width: 60%;
        font-size: 0.6rem;
        margin: 10px 0;
        color: #000;
        font-weight: 800;
        background-color: rgba(245, 245, 245, 0.336);
        @media (min-width: 400px) {
          font-size: 0.8rem;
        }
      }
    }
    &--fieldsetInputs {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 30px;
      &__label {
        margin: 15px 0 5px 0;
        &--option {
          display: flex;
          margin: auto;
        }
        &--img {
          width: 70px;
          border-radius: 10px;
          margin: 5px;

          &:hover {
            box-shadow: 5px 2.5px 10px 2.5px rgb(160, 158, 158);
          }
        }
      }
    }
    &--response {
      margin-top: 15px;
      padding-bottom: 20px;
      border-bottom: black 1px solid;
    }
  }
  &__sixQuestion {
    margin-top: 50px;
    &--fieldsetQuestion {
      display: flex;
      flex-direction: column;
      &__img {
        width: 40%;
        margin: auto;
      }
      &__question {
        display: inline-block;
        width: 60%;
        font-size: 0.6rem;
        margin: 10px 0;
        color: #000;
        font-weight: 800;
        background-color: rgba(245, 245, 245, 0.699);
        @media (min-width: 400px) {
          font-size: 0.8rem;
        }
      }
    }
    &--fieldsetInputs {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 20px;
      &__label {
        margin: 15px 0 35px 0;
        &--option {
          display: flex;
          margin: auto;
        }
        &--img {
          width: 100px;
          border-radius: 10px;
          margin: 5px;
          height: 80px;

          &:hover {
            box-shadow: 5px 2.5px 10px 2.5px rgb(160, 158, 158);
          }
        }
      }
    }
    &--response {
      padding-bottom: 20px;
      border-bottom: black 1px solid;
    }
  }
  &__sevenQuestion {
    margin-top: 50px;
    &--fieldsetQuestion {
      display: flex;
      flex-direction: column;
      &__img {
        width: 54%;
        margin: auto;
      }
      &__question {
        display: inline-block;
        width: 60%;
        font-size: 0.6rem;
        margin: 10px 0;
        color: #000;
        font-weight: 800;
        background-color: rgba(245, 245, 245, 0.336);
        @media (min-width: 400px) {
          font-size: 0.8rem;
        }
      }
    }
    &--fieldsetInputs {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 40px;
      &__label {
        margin: 15px 0 5px 0;
        &--option {
          display: flex;
          margin: auto;
        }
        &--img {
          width: 90px;
          border-radius: 10px;
          margin: 5px;
          height: 60px;
          &:hover {
            box-shadow: 5px 2.5px 10px 2.5px rgb(160, 158, 158);
          }
        }
      }
    }
    &--response {
      margin-top: 15px;
      padding-bottom: 20px;
      border-bottom: black 1px solid;
    }
  }
  &__eightQuestion {
    margin-top: 50px;
    &--fieldsetQuestion {
      display: flex;
      flex-direction: column;
      &__img {
        width: 40%;
        margin: auto;
      }
      &__question {
        display: inline-block;
        width: 60%;
        font-size: 0.6rem;
        margin: 10px 0;
        color: #000;
        font-weight: 800;
        background-color: rgba(245, 245, 245, 0.336);
        @media (min-width: 400px) {
          font-size: 0.8rem;
        }
      }
    }
    &--fieldsetInputs {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 10px;
      &__label {
        margin: 15px 0 35px 0;
        &--option {
          display: flex;
          margin: auto;
        }
        &--img {
          width: 90px;
          border-radius: 10px;
          margin: 5px;
          height: 65px;

          &:hover {
            box-shadow: 5px 2.5px 10px 2.5px rgb(160, 158, 158);
          }
        }
      }
    }
    &--response {
      padding-bottom: 20px;
      border-bottom: black 1px solid;
    }
  }
  &__nineQuestion {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: black 1px solid;

    &--fieldsetQuestion {
      display: flex;
      flex-direction: column;
      &__img {
        width: 40%;
        margin: auto;
      }
      &__question {
        display: inline-block;
        width: 45%;
        font-size: 0.8rem;
        margin: 10px 0 20px 0;
        color: #000;
        font-weight: 800;
        background-color: rgba(245, 245, 245, 0.336);
      }
    }
    &--fieldsetInputs {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin: 0 0 25px 0;
      &__label {
        margin-bottom: 20px;
        text-align: start;
        &--option {
        }
      }
    }
    &--response {
      padding-bottom: 20px;
    }
  }
  &__tenQuestion {
    margin-top: 50px;
    &--fieldsetQuestion {
      display: flex;
      flex-direction: column;
      &__img {
        width: 40%;
        margin: auto;
      }
      &__question {
        display: inline-block;
        width: 60%;
        font-size: 0.6rem;
        margin: 10px 0;
        color: #000;
        font-weight: 800;
        background-color: rgba(245, 245, 245, 0.336);
        @media (min-width: 400px) {
          font-size: 0.8rem;
        }
      }
    }
    &--fieldsetInputs {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 10px;
      &__label {
        margin: 15px 0 35px 0;
        &--option {
          display: flex;
          margin: auto;
        }
        &--img {
          width: 90px;
          border-radius: 10px;
          margin: 5px;
          height: 65px;

          &:hover {
            box-shadow: 5px 2.5px 10px 2.5px rgb(160, 158, 158);
          }
        }
      }
    }
    &--response {
      padding-bottom: 20px;
      border-bottom: black 1px solid;
    }
  }
}
