* {
  color: whitesmoke;
}

.img {
  max-width: 100px;
  margin: auto;
}
button {
  background: none;
  border-radius: 20px;
  &:focus .img {
    border: rgb(255, 255, 0) 5px solid;
  }
}
.input {
  display: none;
}
