.quiz {
  margin: 30px 0;
  text-transform: uppercase;
  color: white;
  //background-color: rgb(88, 88, 88);
  &__title {
    margin: 10px;
  }
  &__subtitle {
    margin: 5px;
    font-size: 14px;
  }
  &__formButton {
    margin: 30px 0;
    &--input {
      display: none;
    }
    &--img {
      width: 20%;
    }
  }
}
