.header {
  background-color: azure;
  &__menuButton {
    position: fixed;
    margin: 0.5rem 0 0 0.5rem;
    height: 5.5vh;
    cursor: pointer;
    background-color: rgba(240, 248, 255, 0.178);
    box-shadow: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    transition: all 200ms ease-out;
    &:hover {
      box-shadow: 5px 5px 5px #7a797981;
    }
    @media (min-width: 1024px) {
      width: 40px;
      height: 40px;
      font-size: 23px;
    }
  }
  &__menuButtonExit {
    position: fixed;
    margin-top: 0.3rem;
    left: 0.5rem;
    height: 5.5vh;
    cursor: pointer;
    background-color: rgba(240, 248, 255, 0.178);
    box-shadow: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 18px;
    transition: all 200ms ease-out;
    &:hover {
      box-shadow: 5px 5px 5px #2727274f;
    }
    @media (min-width: 1024px) {
      width: 40px;
      height: 40px;
      font-size: 22px;
    }
  }
  &__container {
    display: flex;
    justify-content: center;
    &--img {
      width: 150px;
      @media (min-width: 768px) {
        width: 300px;
      }
      @media (min-width: 1024px) {
        width: 365px;
      }
    }
  }
}

.scroll {
  font-size: 25px;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  background-color: rgba(240, 248, 255, 0.25);
  box-shadow: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 18px;
  transition: all 400ms ease-out;
  &:hover {
    box-shadow: 0 -8px 10px #949393f8;
  }
  @media (min-width: 1024px) {
    width: 58px;
    height: 58px;
    font-size: 25px;
  }
}
.hidden {
  height: 0;
  margin-bottom: 0px;
  overflow: hidden;
}
