.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  &__home {
    margin: 10px auto 5px;
  }
  &__howarts {
    margin: 5px auto;
  }
  &__contact {
    margin: 5px auto 10px;
    @media (min-width: 768px) {
      margin: 5px;
    }
    &--link {
      padding: 5px;
      box-sizing: border-box;
    }
  }
}
