.formSearch {
  margin: 15px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: flex-start;
  }
  &__label {
    margin-bottom: 5px;
    @media (min-width: 768px) {
      margin: 0 15px;
    }
  }
  &__input {
    width: 175px;
    margin-top: 5px;
    padding: 2px 5px;
    color: rgba(39, 38, 38, 0.877);
  }
}
