.body {
  text-align: center;
  box-sizing: border-box;
  font-family: 'Shalimar', cursive;
  font-weight: 700;
  letter-spacing: 3.5px;
}
.page {
  max-width: 100vw;
  min-height: 100vh;
  background-image: url(../../images/MinistryOfMAgic.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: contain;

  @media (min-width: 768px) {
    background-position: 52.6% 50%;
    background-repeat: no-repeat;
    background-size: inherit;
  }
  @media (min-width: 1150px) {
    background-position: 53.6% 50%;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: inherit;
}

body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
A {
  text-decoration: none;
}
